bin/
bin-int/
.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
obj/
Sapling/SapfireProfile*
Sandbox/SapfireProfile*
cmake-build-debug
/packages/
riderModule.iml
/_ReSharper.Caches
Project/build
Project/cmake
Project/.cache
Project/.ccls-cache
Project/.vimspector.json
Sapling/imgui.ini
target/*
crates/*/target/
zig-out/
zig-cache/
logs/
# imgui.ini
