[submodule "libs/zig-gamedev"]
	path = libs/zig-gamedev
	url = https://github.com/d0miKuras/zig-gamedev.git
[submodule "libs/nfd-zig"]
	path = libs/nfd-zig
	url = https://github.com/d0miKuras/nfd-zig.git
[submodule "sapling/vendor/imgui"]
	path = sapling/vendor/imgui
	url = https://github.com/ocornut/imgui.git
