bin/
bin-int/
.vs/
.vscode/
.idea/
*.sln
*.vcxproj*
obj/
Sapling/SapfireProfile*
/packages/
riderModule.iml
/_ReSharper.Caches
Project/build
Project/cmake
Project/.cache
Project/.ccls-cache
Project/.vimspector.json
Sapling/imgui.ini
